<div class="flex-container">
    <button mat-fab class="black" [cdkCopyToClipboard]="$black" matTooltip="$black">
    </button>
    <button mat-fab class="jet" [cdkCopyToClipboard]="$jet" matTooltip="$jet">
    </button>
    <button mat-fab class="onyx" [cdkCopyToClipboard]="$onyx" matTooltip="$onyx">
    </button>
    <button mat-fab class="metal" [cdkCopyToClipboard]="$metal" matTooltip="$metal">
    </button>
    <button mat-fab class="teal" [cdkCopyToClipboard]="$teal" matTooltip="$teal">
    </button>
    <button mat-fab class="watermelon" [cdkCopyToClipboard]="$watermelon" matTooltip="$watermelon">
    </button>
    <button mat-fab class="mint" [cdkCopyToClipboard]="$mint" matTooltip="$mint"> 
    </button>
    <button mat-fab class="powder" [cdkCopyToClipboard]="$powder" matTooltip="$powder">
    </button>
</div>