<div class="flex-container">
    <button mat-fab class="black"  matTooltip="color 1">
    </button>
    <button mat-fab class="jet"  matTooltip="color 2">
    </button>
    <button mat-fab class="onyx"  matTooltip="color 3">
    </button>
    <button mat-fab class="metal" matTooltip="color 4">
    </button>
    <button mat-fab class="teal" matTooltip="color 5">
    </button>
    <button mat-fab class="watermelon"  matTooltip="color 6">
    </button>
    <button mat-fab class="mint"  matTooltip="color 7"> 
    </button>
    <button mat-fab class="powder"  matTooltip="color 8">
    </button>
</div>