<div class="flex-container">
    <button mat-fab color="primary"  matTooltip="color 1">
    </button>
    <button mat-fab color="accent"  matTooltip="color 2">
    </button>
    <button mat-fab color="warn"  matTooltip="color 3">
    </button>
    <button mat-fab color="primary"  matTooltip="color 4">
    </button>
    <button mat-fab color="accent"  matTooltip="color 5">
    </button>
    <button mat-fab color="warn"  matTooltip="color 6">
    </button>
    <button mat-fab color="warn"  matTooltip="color 7"> 
    </button>
    <button mat-fab color="warn"  matTooltip="color 8">
    </button>
</div>