
            <div class="default-theme">
                <mat-card class="card-container">
                    <mat-card-header>
                        <mat-card-title>Card</mat-card-title>
                      </mat-card-header>

                      <!-- <img mat-card-image src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=700%2C636
                      " alt="Food in pot"> -->
    

                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button color="primary" mat-raised-button isRoundButton="true">LIKE</button>
                        <button color="primary" mat-raised-button isRoundButton="true">SHARE</button>
                      </mat-card-actions>

                      <mat-tab-group mat-align-tabs="start" mat-stretch-tabs>
                        <mat-tab id="button-html" label="HTML">
                            <pre><code [highlight]="htmlSnippet"></code></pre>
                        </mat-tab>
                        <mat-tab id="button-scss" label="SCSS">
                            <pre><code [highlight]="scssSnippet"></code></pre>
                        </mat-tab>
                        <mat-tab id="button-ts" label="TS">
                            <pre><code [highlight]="tsSnippet"></code></pre>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
