<mat-card class="card-container">
    <mat-card-content>
        <div class="form-example"> 
            <mat-form-field class="input-example" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="input-example" appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="input-example" appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <mat-tab-group mat-align-tabs="start" mat-stretch-tabs>
            <mat-tab id="button-html" label="HTML">
                <pre><code [highlight]="htmlSnippet"></code></pre>
            </mat-tab>
            <mat-tab id="button-scss" label="SCSS">
                
            </mat-tab>
            <mat-tab id="button-ts" label="TS">
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

