@import "../../../styles.scss";


.form-example {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-example {
    width: 100%;
}

.card-container {
    padding: 25px;
    background-color: $purple-grey;
}

