/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import '~highlight.js/styles/atom-one-dark.css';


// ----------- //
//  Variables  //
// ----------- //
$page-height: 65vh;
$purple-grey: rgb(179,179,204);

// Our Actual Variables //
// $black: #141414ff;
// $jet: #363636ff;
// $onyx: #414141ff;
// $metal: #192734ff;
// $teal: #056571ff;
// $watermelon: #ff6a5cff;
// $mint: #c5d8c0ff;
// $powder: #f3f7f2ff;
// $white: #ffffffff;


html, body { height: 100%; width:100%; position:fixed;}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: $onyx!important; 
}


.mat-icon{
    font-family: 'Material Icons' !important;
}


