/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import '~highlight.js/styles/atom-one-dark.css';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Montserrat&family=Playfair+Display&display=swap');


// ----------- //
//  Variables  //
// ----------- //
$page-height: 80vh;
$purple-grey: rgb(179,179,204);

// Our Actual Variables //
// $black: #141414ff;
// $jet: #363636ff;
// $onyx: #414141ff;
// $metal: #192734ff;
// $teal: #056571ff;
// $watermelon: #ff6a5cff;
// $mint: #c5d8c0ff;
// $powder: #f3f7f2ff;
// $white: #ffffffff;


html, body { height: 100%; width:100%; position:fixed;}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: $onyx!important; 
}


.mat-icon{
    font-family: 'Material Icons' !important;
}



body {
  font-family: 'Dosis', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}
h3{
  font-size: 18.7167px;
}
h5{
  font-size: 13.2833x;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: 'Playfair Display', serif;
  }
  
  h1{
    font-size: 32px;
  }
  
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 18.7167px;
  }
  h5{
    font-size: 13.2833x;
  }

  body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
}

/* custom mat styles */
.mat-tab-body {
  max-width: 40em !important;
}
